{% set actived = 'question' %}

{% extends "global/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('material-design-iconic-font') }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
    {% for message in app.flashes('error') %}
        <div class="text-danger">{{ message }}</div>
    {% endfor %}
    <div class="content__inner q-a">
        <div class="q-a__question">
            <div class="q-a__vote hidden-sm-down">
                <div class="icon-toggle">
                    <input type="checkbox">
                    <i class="zmdi zmdi-thumb-up"></i>
                </div>

                <div class="q-a__vote__votes">{{ question.votes }}</div>

                <div class="icon-toggle">
                    <input type="checkbox">
                    <i class="zmdi zmdi-thumb-down"></i>
                </div>
            </div>

            <h2>{{ question.subject }}</h2>
            <p>{{ question.content | markdown }}</p>

            <div class="tags mt-3">
                {% for tag in question.tags %}
                    <a href="{{ path('tag_list', {name: tag.name}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>

            <div class="q-a__info">
                <div class="q-a__op">
                    <span>Asked by <a href="#">{{ question.user }}</a> on <time>{{ question.createdAt | ago }}</time></span>
                </div>

                <div class="actions hidden-sm-down">
                    <a href="" class="actions__item">
                        <i href="" data-toggle="tooltip" data-title="Report" class="zmdi zmdi-flag" data-original-title="" title=""></i>
                    </a>
                    <a href="" class="actions__item">
                        <i href="" data-toggle="tooltip" data-title="Make Favourite" class="zmdi zmdi-star" data-original-title="" title=""></i>
                    </a>
                    <a href="" class="actions__item">
                        <i href="" data-toggle="tooltip" data-title="Share" class="zmdi zmdi-share" data-original-title="" title=""></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="q-a__question">
        <div class="content__inner content__inner--sm">
            <div class="card">
                <div class="toolbar toolbar--inner">
                    <div class="toolbar__label">Total {{ answers.totalItemCount }} Answers</div>

                    <nav class="toolbar__nav ml-auto hidden-sm-down">
                        <a href="" class="active">Newest</a>
                        <a href="">Oldest</a>
                        <a href="">Active</a>
                    </nav>
                </div>

                <div class="listview listview--bordered listview--block">
                        {% for answer in answers %}
                            {% if answer.best %}
                                <div class="text-success" title="{{ 'answer.accepted_answer' | trans }}"><i class="fa fa-check"></i></div>
                            {% endif %}
                            <div class="listview__item">
                                <p>{{ answer.content | markdown}}</p>
                                <div class="q-a__info">
                                    <div class="q-a__op">
                                        <span>Replied by <a href="#">{{ answer.user.username }}</a> <time datetime="{{ answer.createdAt | date('c') }}">{{ answer.createdAt | ago }}</time></span>
                                    </div>

                                    <div class="q-a__vote-answer hidden-sm-down">
                                        <div class="icon-toggle">
                                            <input type="checkbox">
                                            <i class="zmdi zmdi-thumb-up"></i>
                                        </div>

                                        <div>10</div>

                                        <div class="icon-toggle">
                                            <input type="checkbox">
                                            <i class="zmdi zmdi-thumb-down"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        {{ knp_pagination_render(answers) }}

                    <div class="listview__item">
                            {% if app.user is not null %}
                                {{ include("global/_answer_form.html.twig") }}
                            {% else %}
                                {{ 'form.answer_create_login_needed' | trans }}
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}