{{ form_start(answerForm, {method: 'POST', action: path('answer_create', {'id': question.id})}) }}
        {#  instead of displaying form fields one by one, you can also display them
            all with their default options and styles just by calling to this function:

            {{ form_widget(form) }}
        #}

    {# Render any global form error (e.g. when a constraint on a public getter method failed) #}
    {{ form_errors(answerForm) }}

    {# Render any errors for the "content" field (e.g. when a class property constraint failed) #}
    {{ form_errors(answerForm.content) }}
<div class="form-group">
    {{ form_widget(answerForm.content, {attr: {rows: 5, class: 'form-control', placeholder: 'Type answer here...'}}) }}
    <i class="form-group__bar"></i>
</div>
<button class="btn btn-primary" type="submit">
    <i class="zmdi zmdi-mail-send" aria-hidden="true"></i> {{ 'form.publish_answer' | trans }}
</button>
{{ form_end(answerForm) }}
