<header class="header">
    <div class="content__inner">
        <div class="toolbar bg-red">
            <nav class="toolbar__nav">
                <a href="{{ path('question_index') }}"><img src="{{ asset('logo.png') }}" alt="Index" style="width: 35px; height: 35px;"></a>
                <a{% if actived == 'question' %} class=" active"{% endif %} href="{{ path('question_index') }}">{{ 'nav.questions' | trans }}</a>
                <a{% if actived == 'post' %} class=" active"{% endif %} href="{{ path('post_list') }}">{{ 'nav.posts' | trans }}</a>
                <a{% if actived == 'tag' %} class=" active"{% endif %} href="#">{{ 'nav.tags' | trans }}</a>
            </nav>

            <div class="actions">
                <i class="actions__item zmdi zmdi-search" data-ma-action="toolbar-search-open"></i>
            </div>

            <div class="toolbar__search" style="display: none;">
                <input type="text" placeholder="Search...">

                <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-ma-action="toolbar-search-close"></i>
            </div>
        </div>
    </div>

</header>

