<div class="card mb-3">
    <div class="card-body">
        {% if is_granted("ROLE_USER") %}
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary">{{ 'admin.dashboard' | trans }}</a>
            {% endif %}
            <a href="{{ path('question_create') }}" class="btn btn-primary">{{ 'question.ask' | trans }}</a>
            <a href="{{ path('security_logout') }}" class="btn btn-primary">{{ 'security.logout' | trans }}</a>
        {% else %}
            <a href="{{ path('security_login') }}" class="btn btn-success">Login</a>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="tag-list">
            {% for tag in tags %}
                <a href="{{ path('tag_list', {name: tag.name}) }}" class="btn btn-light">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>