<div class="listview listview--bordered q-a">
    {% for post in posts %}
        <div class="listview__item q-a__item">
            <div class="listview__content">
                <a href="{{ path('post_show', {id: post.id, slug: post.slug}) }}"
                   class="listview__heading">{{ post.subject }}</a>
                <p>Asked by <a href="#">{{ post.user.username }}</a> on
                    <time class="started-date" datetime="{{ post.createdAt | date('c') }}">
                        {{ post.createdAt | ago }}
                    </time>
                </p>
                {% if tags_list is defined %}
                    <div class="tags mt-3">
                        {% for tag in post.tags %}
                            <a href="{{ path('tag_list', {name: tag.name}) }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>