{% set actived = 'post' %}

{% extends "global/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('material-design-iconic-font') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% for message in app.flashes('error') %}
        <div class="text-danger">{{ message }}</div>
    {% endfor %}
    <div class="content__inner q-a">
        <div class="q-a__post">
{#            <div class="q-a__vote hidden-sm-down">#}
{#                <div class="icon-toggle">#}
{#                    <input type="checkbox">#}
{#                    <i class="zmdi zmdi-thumb-up"></i>#}
{#                </div>#}

{#                <div class="q-a__vote__votes">{{ post.votes }}</div>#}

{#                <div class="icon-toggle">#}
{#                    <input type="checkbox">#}
{#                    <i class="zmdi zmdi-thumb-down"></i>#}
{#                </div>#}
{#            </div>#}

            <h2>{{ post.subject }}</h2>
            <p>{{ post.content | markdown }}</p>

            <div class="tags mt-3">
                {% for tag in post.tags %}
                    <a href="{{ path('tag_list', {name: tag.name}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>

            <div class="q-a__info">
                <div class="q-a__op">
                    <span>Posted by <a href="#">{{ post.user }}</a> on <time>{{ post.createdAt | ago }}</time></span>
                </div>

                <div class="actions hidden-sm-down">
                    <a href="" class="actions__item">
                        <i href="" data-toggle="tooltip" data-title="Report" class="zmdi zmdi-flag" data-original-title="" title=""></i>
                    </a>
                    <a href="" class="actions__item">
                        <i href="" data-toggle="tooltip" data-title="Make Favourite" class="zmdi zmdi-star" data-original-title="" title=""></i>
                    </a>
                    <a href="" class="actions__item">
                        <i href="" data-toggle="tooltip" data-title="Share" class="zmdi zmdi-share" data-original-title="" title=""></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="q-a__post">
        <div class="content__inner">
            <div class="card">
                <div class="toolbar toolbar--inner">
                    <div class="toolbar__label">Total {{ comments.totalItemCount }} comments</div>

                    <nav class="toolbar__nav ml-auto hidden-sm-down">
                        <a href="" class="active">Newest</a>
                        <a href="">Oldest</a>
                        <a href="">Active</a>
                    </nav>
                </div>

                <div class="listview listview--bordered listview--block">
                    {% for comment in comments %}
                        <div class="listview__item">
                            <p>{{ comment.content | markdown }}</p>
                            <div class="q-a__info">
                                <div class="q-a__op">
                                    <span>Replied by <a href="#">{{ comment.user.username }}</a> <time datetime="{{ comment.createdAt | date('c') }}">{{ comment.createdAt | ago }}</time></span>
                                </div>

                                <div class="q-a__vote-answer hidden-sm-down">
                                    <div class="icon-toggle">
                                        <input type="checkbox">
                                        <i class="zmdi zmdi-thumb-up"></i>
                                    </div>

                                    <div>10</div>

                                    <div class="icon-toggle">
                                        <input type="checkbox">
                                        <i class="zmdi zmdi-thumb-down"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    {% do comments.setTemplate('global/pagination_ac.html.twig') %}
                    {{ knp_pagination_render(comments) }}

                    <div class="listview__item">
                        {% if app.user is not null %}
                            {{ include("global/_comment_form.html.twig") }}
                        {% else %}
                            {{ 'form.comment_create_login_needed' | trans }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}